<h1>Bonjour <%= @customer[:fullName] %>,</h1>

<p>Nous sommes heureux de vous informer que la réparation de votre véhicule est terminée.</p>

<p>Véhicule : <%= @vehicle[:make] %> <%= @vehicle[:model] %> (<%= @vehicle[:year] %>)</p>

<p>Vous pouvez passer au garage quand vous le souhaitez pour récupérer votre véhicule.</p>

<p>Merci de votre confiance,</p>
<p>L'équipe de Mon Garage</p>
